@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/Swiss721BT-Thin.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Swiss721BT-Light.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Swiss721BT-Roman.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Swiss721BT-Medium.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Skyhook';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/SkyhookMono.ttf');
	font-display: swap;
}

html {
	@apply outline-none active:outline-none focus:outline-none text-gray-12 overflow-x-hidden md:scrollbar-thin md:scrollbar-track-gray-50/50 md:scrollbar-thumb-gray-100 md:hover:scrollbar-thumb-gray-200;
}

* {
	@apply outline-none active:outline-none focus:outline-none;

	-webkit-tap-highlight-color: transparent;
}

::selection {
	@apply bg-gray-10 text-white;
}

div {
	@apply md:scrollbar-thin md:scrollbar-track-gray-50/50 md:scrollbar-thumb-gray-100 md:hover:scrollbar-thumb-gray-200;
}
